.modal
  padding: 50px 50px 40px
  width: 400px
  border-radius: 10px
  color: $melrose
  background: url('../img/modal-bg.jpg') no-repeat center / cover
  transform: scale(0.8)
  &__close
    position: absolute
    right: 15px
    top: 15px
    +size(24px)
    padding: 0
    background: 0 0
    border: 2px solid $royal-purple
    border-radius: 50%
    text-indent: 100%
    white-space: nowrap
    overflow: hidden
    cursor: pointer
    +transition
    &::after, &::before
      content: ''
      position: absolute
      left: 3px
      display: block
      height: 2px
      width: 70%
      background: $royal-purple
      transition: all .25s ease
    &::before
      top: 9px
      transform: rotate(45deg)
    &::after
      top: 9px
      transform: rotate(-45deg)
    &:focus
      outline: none
    &:hover
      border-color: $gray
      &::before, &::after
        background-color: $gray
  h3
    margin-bottom: 10px
    font-size: 30px
    font-weight: 600
    text-align: center
    color: #fff
  p
    font-size: 14px
    text-align: center
  .form-group
    margin-bottom: 40px
    &:last-child
      margin-bottom: 0
  .form__btn
    .fas
      margin-left: 20px
  .form__label--checkbox
    padding-left: 25px
    font-size: 12px
    a
      color: inherit
    &::before
      top: 3px
      +size(15px)
      border-color: $melrose
    &::after
      border-color: $melrose
      top: 6px
      left: 6px
  &__bottom
    text-align: center

.popup_visible .modal,
.popup_visible .client-modal
  transform: scale(1)

@include media-breakpoint-down(xs)
  .modal
    max-width: 320px
    padding: 40px 25px
    .form__btn
      font-size: 12px
      padding-left: 35px

.client-modal
  max-width: 800px
  width: 100%
  padding: 40px 30px 50px 50px
  background-color: #fff
  transform: scale(0.8)
  border-radius: 10px
  &__close
    position: absolute
    right: 15px
    top: 15px
    +size(24px)
    padding: 0
    background: 0 0
    border: 2px solid $iron
    border-radius: 50%
    text-indent: 100%
    white-space: nowrap
    overflow: hidden
    cursor: pointer
    +transition
    &::after, &::before
      content: ''
      position: absolute
      left: 3px
      display: block
      height: 2px
      width: 70%
      background: #BDBDBD
      transition: all .25s ease
    &::before
      top: 9px
      transform: rotate(45deg)
    &::after
      top: 9px
      transform: rotate(-45deg)
    &:focus
      outline: none
    &:hover
      border-color: $gray
      &::before, &::after
        background-color: $gray
  &__head
    margin-bottom: 20px
    padding-right: 50px
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    margin: 0
    margin-right: 15px
    font-size: 24px
    font-weight: 600
    color: $stratos
  &__logo
    flex-shrink: 0
  &__subtitle
    font-size: 16px
    font-weight: 600
    color: $stratos
  &__row
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
  &__col
    padding: 30px 0
  &__progress
    background-color: $link-water
    border-radius: 10px
    padding: 0 25px
  &__post
    margin-right: 30px
    margin-bottom: 15px
    border-radius: 5px
    border: 2px solid $link-water
    &:last-child
      margin-right: 0
  &__content
    max-height: 540px
    &:focus
      outline: none
    &-wrap
      padding-right: 20px

.jspVerticalBar
  width: 1px
  right: 1px

.jspTrack
  background: $geyser

.jspDrag
  left: -1px
  width: 3px


@include media-breakpoint-down(sm)
  .client-modal
    &__row
      flex-direction: column
      align-items: center
    &__post
      margin-right: 0
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0

@include media-breakpoint-down(xs)
  .client-modal
    padding: 40px 20px
    &__head
      flex-direction: column
      padding: 0
      text-align: center
    &__title
      margin: 0
      margin-bottom: 20px
      font-size: 20px
    &__content
      &-wrap
        padding: 0