.parallax
  position: absolute
  z-index: -1

.rock-1
  top: -35px
  right: -130px

.meteor-1
  bottom: 140px
  right: 82%

.meteor-2
  bottom: 95px
  left: 80%

.meteor-3
  bottom: 95px
  left: 80%

.planet-1
  bottom: 40px
  right: 89%

@include media-breakpoint-down(lg)
  .parallax
    display: none