.parallax
  position: absolute
  z-index: -1

.rock-1
  top: -35px
  right: -130px

.rock-2
  top: 1015px
  right: 85%

.meteor-1
  bottom: 140px
  right: 82%

.meteor-2
  bottom: 95px
  left: 80%

.meteor-3
  bottom: -30px
  left: 75%

.meteor-4
  top: 400px
  right: 83%
  opacity: 0.25

.meteor-5
  top: 345px
  left: 88%

.meteor-6
  top: 970px
  left: 84%

.meteor-7
  bottom: 640px
  right: 90%

.planet-1
  bottom: 100px
  right: 89%

@include media-breakpoint-down(lg)
  .parallax
    display: none