<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2 class="section-title">О НАШЕЙ компании</h2>
        <div class="about__text">
          <p>Делаем то, что любим и умеем!</p>
          <p>Помогаем клиентам построить результативный бизнес  посредством сети Интернет, путем привлечения целевой аудитории, повышения её лояльности и укрепления бренда клиента.</p>
          <p>Мы делаем это при помощи инструментов комплексного интернет-маркетинга за счет комфортного взаимодействия с ведущей командой экспертов на рынке.</p>
          <p>Благодаря широким возможностям настройки рекламы (выбор пола, возраста, увлечений, места проживания и т.д.), информация о вашей компании и предложениях максимально точно показывается вашей целевой аудитории.</p>

          <a href="#" class="btn">коммерческое предложение <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="about__statistic">
          <p class="about__statistic-item">
            <strong>7-Й</strong> год на рынке <br>интернет-маркетинга
          </p>
          <p class="about__statistic-item">
            <strong>&gt; 25</strong> высококвалифицированных <br>сотрудников
          </p>
          <p class="about__statistic-item">
            <strong>100 +</strong> проектов на обслуживании
          </p>
          <p class="about__statistic-item">
            <strong>24/7</strong> круглосуточна поддержка <br>вашего проекта
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <img src="img/meteor-2.svg" width="165" height="125" alt="" class="parallax meteor-11">
  <img src="img/moon.svg" width="470" height="470" alt="" class="parallax moon-2">
  <img src="img/rock-1.svg" width="355" height="345" alt="" class="parallax rock-3">

</section>
<!-- /.about -->