<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="section-title">6 ПРЕИМУЩЕСТВ социальныx сетей <br>для вашего бизнеса</h2>

    <div class="row advantages__list">

      <div class="col-md-6 col-lg-4">
        <div class="advantages__item">
          <div class="advantages__icon-wrap">
            <img src="img/circle-red.svg" width="85" height="85" alt="" class="advantages__icon advantages__icon--red">
            <span class="advantages__number">1</span>
          </div>
          <h3>Привлечение новой аудитории</h3>
          <p>За счет большого охвата аудитории позволяет познакомить с вашим брендом новую аудиторию, а также сформировать спрос на вашу продукцию</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="advantages__item">
          <div class="advantages__icon-wrap">
            <img src="img/circle-purpule.svg" width="85" height="85" alt="" class="advantages__icon advantages__icon--purple">
            <span class="advantages__number">2</span>
          </div>
          <h3>Лояльность аудитории</h3>
          <p>Благодаря социальным сетям вы сможете донести ваше сообщение до вашей аудитории, решить любой спорный вопрос, повысив таким образом лояльность к вашему бренду</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="advantages__item">
          <div class="advantages__icon-wrap">
            <img src="img/circle-green.svg" width="85" height="85" alt="" class="advantages__icon advantages__icon--green">
            <span class="advantages__number">3</span>
          </div>
          <h3>Повышение <br>узнаваемости бренда</h3>
          <p>Различные форматы рекламных сообщений позволяют увеличить охват и узнаваемость вашего бренда</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="advantages__item">
          <div class="advantages__icon-wrap">
            <img src="img/circle-blue.svg" width="85" height="85" alt="" class="advantages__icon advantages__icon--blue">
            <span class="advantages__number">4</span>
          </div>
          <h3>Экономия бюджета</h3>
          <p>Ваша реклама показывается только вашей целевой аудитории</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="advantages__item">
          <div class="advantages__icon-wrap">
            <img src="img/circle-orange.svg" width="85" height="85" alt="" class="advantages__icon advantages__icon--orange">
            <span class="advantages__number">5</span>
          </div>
          <h3>Повторные продажи</h3>
          <p>Возможность адресной коммуникации именно с вашими клиентами позволяет делать дополнительные продажи за счет личных скидок, акций и предложений для вашей аудитории</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="advantages__item">
          <div class="advantages__icon-wrap">
            <img src="img/circle-dark-blue.svg" width="85" height="85" alt="" class="advantages__icon advantages__icon--dark-blue">
            <span class="advantages__number">6</span>
          </div>
          <h3>Небольшие бюджеты</h3>
          <p>Возможность показывать вашу рекламу за небольшие бюджеты. Минимального порога входа нет</p>
        </div>
      </div>

    </div>
  </div>
  <!-- /.container -->

  <img src="img/rock-1.svg" width="342" height="332" alt="" class="parallax rock-1">
  <img src="img/meteor-1.svg" width="308" height="232" alt="" class="parallax meteor-1">
  <img src="img/meteor-1.svg" width="158" height="119" alt="" class="parallax meteor-2">

</section>
<!-- /.advantages -->