  <section class="capabilities" id="capabilities">
    <div class="container">
      <h2 class="section-title">НАШИ ВОЗМОЖНОСТИ <br>для продвижения вашего бизнеса</h2>

      <div class="row justify-content-md-center">
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="capabilities__item">
            <div class="capabilities__icon-wrap">
              <img src="img/circle-red-2.svg" width="130" height="130" alt="" class="capabilities__bg capabilities__bg--red">
              <svg class="capabilities__icon">
                <use xlink:href="img/icon/symbols.svg#icon-speedometer"></use>
              </svg>
            </div>
            <h3>Таргетинговая реклама</h3>
            <p>Рекламные размещения разных форматов (картинки, тексты, новости и т.д.) по большому количеству параметров (пол, возраст, доход, ГЕО, увлечения и т.д.)</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="capabilities__item">
            <div class="capabilities__icon-wrap">
              <img src="img/circle-purpule-2.svg" width="130" height="130" alt="" class="capabilities__bg capabilities__bg--purpule">
              <svg class="capabilities__icon">
                <use xlink:href="img/icon/symbols.svg#icon-research"></use>
              </svg>
            </div>
            <h3>Нестандартные <br>активности</h3>
            <p>Вирусные ролики, создание мемов, разработка игр в социальных сетях, создание и ведение контентных сообществ с последующей нативной рекламой, размещение отзывов и комментариев. Мы готовы обсуждать и предлагать идеи какими бы нестандартными не были задачи клиента</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="capabilities__item">
            <div class="capabilities__icon-wrap">
              <img src="img/circle-green-2.svg" width="130" height="130" alt="" class="capabilities__bg capabilities__bg--green">
              <svg class="capabilities__icon">
                <use xlink:href="img/icon/symbols.svg#icon-marketing"></use>
              </svg>
            </div>
            <h3>Организация <br>и проведение конкурсов</h3>
            <p>Разработка механики конкурсной активности, создание креативов, написание правил, проведение конкурсов, подведение итогов, общение с победителями</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="capabilities__item">
            <div class="capabilities__icon-wrap">
              <img src="img/circle-orange-2.svg" width="130" height="130" alt="" class="capabilities__bg capabilities__bg--orange">
              <svg class="capabilities__icon">
                <use xlink:href="img/icon/symbols.svg#icon-social-media"></use>
              </svg>
            </div>
            <h3>Контентное ведение <br>ваших групп <br>в социальных сетях</h3>
            <p>Подготовка контентного наполнения ваших социальных сетей, размещение согласованных материалов, общение с аудиторий, ответы на вопросы, модерация сообществ</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="capabilities__item">
            <div class="capabilities__icon-wrap">
              <img src="img/circle-orange-2.svg" width="130" height="130" alt="" class="capabilities__bg capabilities__bg--orange">
              <svg class="capabilities__icon">
                <use xlink:href="img/icon/symbols.svg#icon-digital-marketing"></use>
              </svg>
            </div>
            <h3>Размещение рекламы <br>в других группах</h3>
            <p>это действия, направленные на улучшение видимости сайта в тематиках, которым он действительно соответствует в глазах пользователя, с точки зрения алгоритмов поисковых систем</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="capabilities__item">
            <div class="capabilities__icon-wrap">
              <img src="img/circle-purpule-2.svg" width="130" height="130" alt="" class="capabilities__bg capabilities__bg--purpule">
              <svg class="capabilities__icon">
                <use xlink:href="img/icon/symbols.svg#icon-rating"></use>
              </svg>
            </div>
            <h3>Работа с блогерами</h3>
            <p>Подбор блогеров, чья аудитория максимально совпадает с вашей целевой аудиторией. Разработка формата коммуникации и рекламного сообщения, проведение размещений, оценка эффективности</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="capabilities__item">
            <div class="capabilities__icon-wrap">
              <img src="img/circle-red-2.svg" width="130" height="130" alt="" class="capabilities__bg capabilities__bg--red">
              <svg class="capabilities__icon">
                <use xlink:href="img/icon/symbols.svg#icon-analysis"></use>
              </svg>
            </div>
            <h3>Ретаргетинг</h3>
            <p>Размещение рекламных материалов, нацеленных на ваших клиентов (посетителей вашего сайта, ваших клиентов по телефону или email, совершивших какие-то действия у вас на сайте – регистрация, подписка и т.д.)</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </section>
  <!-- /.capabilities -->


  <img src="img/meteor-1.svg" width="305" height="230" alt="" class="parallax meteor-4">
  <img src="img/meteor-1.svg" width="300" height="230" alt="" class="parallax meteor-5">
  <img src="img/meteor-1.svg" width="165" height="125" alt="" class="parallax meteor-6">
  <img src="img/meteor-1.svg" width="175" height="130" alt="" class="parallax meteor-7">
  <img src="img/rock-1.svg" width="125" height="120" alt="" class="parallax rock-2">
  <img src="img/moon.svg" width="470" height="470" alt="" class="parallax moon-1">

</div>