<section class="clients" id="clients">
  <div class="container">
    <h2 class="section-title">НАШИ КЛИЕНТЫ и их успехи</h2>

    <div class="clients-slider swiper-container">
      <div class="swiper-wrapper">

          <div class="swiper-slide clients-slider__item">
            <a href="#" class="clients-slider__wrap client-1_open" style="background-image: url('img/content/client-1.jpg');">
              <div class="clients-slider__content">
                <h3>585GOLD</h3>
                <p>Комплексный <br>интернет-маркетинг</p>
              </div>
            </a>
          </div>

          <div class="swiper-slide clients-slider__item">
            <a href="#" class="clients-slider__wrap client-1_open" style="background-image: url('img/content/client-2.jpg');">
              <div class="clients-slider__content">
                <h3>Braun</h3>
                <p>Комплексный <br>интернет-маркетинг</p>
              </div>
            </a>
          </div>

          <div class="swiper-slide clients-slider__item">
            <a href="#" class="clients-slider__wrap client-1_open" style="background-image: url('img/content/client-3.jpg');">
              <div class="clients-slider__content">
                <h3>Christina cosmetics</h3>
                <p>Комплексный <br>интернет-маркетинг</p>
              </div>
            </a>
          </div>

          <div class="swiper-slide clients-slider__item">
            <a href="#" class="clients-slider__wrap client-1_open" style="background-image: url('img/content/client-4.jpg');">
              <div class="clients-slider__content">
                <h3>Нияма</h3>
                <p>Комплексный <br>интернет-маркетинг</p>
              </div>
            </a>
          </div>

          <div class="swiper-slide clients-slider__item">
            <a href="#" class="clients-slider__wrap client-1_open" style="background-image: url('img/content/client-4.jpg');">
              <div class="clients-slider__content">
                <h3>Нияма</h3>
                <p>Комплексный <br>интернет-маркетинг</p>
              </div>
            </a>
          </div>

      </div>

      <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
      <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
  </div>

  </div>
  <!-- /.container -->

  <img src="img/planet-1.svg" width="329" height="236" alt="" class="parallax planet-1">
  <img src="img/meteor-1.svg" width="200" height="150" alt="" class="parallax meteor-3">
</section>
<!-- /.clients -->