<section class="clients">
  <div class="container">
    <h2 class="section-title">НАШИ КЛИЕНТЫ и их успехи</h2>

    <div class="clients-slider swiper-container">
      <div class="swiper-wrapper">

          <div class="swiper-slide clients-slider__item" style="background-image: url('img/content/client-1.jpg');">
            <div class="clients-slider__content">
              <h3>585GOLD</h3>
              <p>Комплексный <br>интернет-маркетинг</p>
            </div>
          </div>

          <div class="swiper-slide clients-slider__item" style="background-image: url('img/content/client-2.jpg');">
            <div class="clients-slider__content">
              <h3>Braun</h3>
              <p>Комплексный <br>интернет-маркетинг</p>
            </div>
          </div>

          <div class="swiper-slide clients-slider__item" style="background-image: url('img/content/client-3.jpg');">
            <div class="clients-slider__content">
              <h3>Christina cosmetics</h3>
              <p>Комплексный <br>интернет-маркетинг</p>
            </div>
          </div>

          <div class="swiper-slide clients-slider__item" style="background-image: url('img/content/client-4.jpg');">
            <div class="clients-slider__content">
              <h3>Нияма</h3>
              <p>Комплексный <br>интернет-маркетинг</p>
            </div>
          </div>

      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  </div>

  </div>
  <!-- /.container -->
</section>
<!-- /.clients -->