  <section class="contact" id="contact">
    <div class="container">
      <div class="contact__content">
        <h2 class="section-title">НАШИ контакты</h2>

        <div class="contact__row"><strong>Адрес:</strong> Москва, м.Цветной бульвар, <br>Цветной бульвар, 30, с.1, офис 423, 426</div>
        <div class="contact__row"><strong>Телефон:</strong> <a href="tel:+74956942429">+7 (495) 694 24 29</a></div>
        <div class="contact__row"><strong>Почта:</strong> <a href="mailto:manager@acedigital.ru">manager@acedigital.ru</a></div>
        <div class="contact__row contact__row--social">
          <strong>Мы в соц. сетях:</strong>
          <ul class="social">
            <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-behance-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="contact__map">
        <div id="map"> </div>
      </div>
    </div>
    <!-- /.container -->

    <img src="img/meteor-1.svg" width="175" height="130" alt="" class="parallax meteor-15">
    <img src="img/meteor-1.svg" width="250" height="195" alt="" class="parallax meteor-16">
    <img src="img/meteor-1.svg" width="100" height="75" alt="" class="parallax meteor-17">
    <img src="img/meteor-1.svg" width="255" height="195" alt="" class="parallax meteor-18">

  </section>
  <!-- /.contact -->

</div>