<div class="te-ca-wrap te-ca-wrap--2">

  <section class="form-project">
    <div class="container">
      <h2 class="section-title">ДАВАЙТЕ обсудим Ваш проект</h2>

      <form class="form form-project__form">
        <div class="form-project__row">

          <div class="form-col form-group">
            <input type="text" name="name" class="form__field" placeholder="Ваше имя" required>
          </div>

          <div class="form-col form-group">
            <input type="email" name="email" class="form__field" placeholder="Ваш email" required>
          </div>

          <div class="form-col form-group">
            <input type="tel" name="phone" class="form__field" placeholder="Ваш телефон" required>
          </div>

        </div>

        <div class="form-group">
          <textarea name="message" class="form__field form__field--textarea" placeholder="Сообщение"></textarea>
        </div>

        <div class="form-project__row">
          <div class="form-group">
            <input type="checkbox" name="term" id="term" class="form__checkbox" required>
            <label for="term" class="form__label form__label--checkbox">Согласие на обработку <a href="#" target="_blank">персональных данных</a></label>
          </div>

          <div class="form-group">
            <input type="file" name="file" id="file" class="form__file">
            <label for="file" class="form__label form__label--file">
              <svg class="form__icon form__icon--clip">
                <use xlink:href="img/icon/symbols.svg#icon-clip"></use>
              </svg>
              Прикрепить файл
            </label>
          </div>

          <div class="form-group form-group--btn">
            <button type="submit" class="btn form__btn">рассчитать проект <i class="fas fa-angle-double-right"></i></button>
          </div>
        </div>
        
      </form>
    </div>
    <!-- /.container -->
  </section>
  <!-- /.form-project -->