<!DOCTYPE html>
<html lang="ru" id="home">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">

    <title>Ace Digital</title>

    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="header">
      <div class="container">

        <div class="header__wrap">
          <div class="logo header__logo">
            <img src="img/logo.png" width="170" height="47" alt="Ace Digital">
          </div>

          <p class="header__descr">SEO продвижение <br>Контекстная реклама</p>

          <div class="phone header__phone">
            <div class="phone__left">
              <div class="phone__icon"><i class="fas fa-phone"></i></div>
            </div>
            <div class="phone__right">
              <a href="tel:+74956942429" class="phone__link">+7 (495) 694 24 29</a>
              <p class="phone__descr">бесплатная консультация</p>
            </div>
          </div>

          <nav class="nav">
            <ul class="nav-list">
              <li><a href="#home">Главная</a></li>
              <li><a href="#advantages">Преимущества</a></li>
              <li><a href="#clients">Наши клиенты</a></li>
              <li><a href="#testimonial">Отзывы</a></li>
              <li><a href="#capabilities">Наши возможности</a></li>
              <li><a href="#rate">Тарифы</a></li>
              <li><a href="#about">О нас</a></li>
              <li><a href="#contact">Контакты</a></li>
            </ul>
          </nav>

          <button class="nav-toggle">
            <span class="nav-toggle__line"></span>
          </button>
        </div>

      </div>
    </header>