<section class="rate">
  <div class="container">
    <h2 class="section-title">ТАРИФ, <br>наиболее подходящий для Вас</h2>

    <div class="row rate__list">

      <div class="col-lg-4">
        <div class="rate__item">
          <div class="rate__content">
            <h3 class="rate__title">Тариф «Оптимальный»</h3>
            <ul class="list">
              <li>Создание / редизайн сообществ в социальных сетях (ВК, FB, I)</li>
              <li>Создание контента в объеме 3-4 поста в неделю</li>
              <li>Разработка уникального дизайна постов</li>
              <li>Привлечение подписчиков</li>
              <li>Модерация сообществ, чистка от спама</li>
              <li>Аналитика, отчетность</li>
              <li>Персональный менеджер</li>
            </ul>
          </div>
          <div class="rate__price-wrap">
            <p class="rate__price"><strong>от 35 000</strong> <br>рублей в месяц</p>
          </div>
          <div class="rate__bottom">
            <a href="#" class="btn btn--trans">Стать клиентом <i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="rate__item rate__item--accent">
          <div class="rate__content">
            <h3 class="rate__title">Тариф «Максимальный»</h3>
            <ul class="list">
              <li>Создание / редизайн сообществ в социальных сетях (ВК, FB, I)</li>
              <li>Создание контента в объеме 10 постов в неделю</li>
              <li>Разработка уникального дизайна постов</li>
              <li>Привлечение подписчиков</li>
              <li>Модерация сообществ, чистка от спама</li>
              <li>Администрирование сообществ</li>
              <li>Настройка таргетированной рекламы</li>
              <li>Проведение конкурсов, интерактивов</li>
              <li>Аналитика, отчетность</li>
              <li>Персональный менеджер</li>
            </ul>
          </div>
          <div class="rate__price-wrap">
            <p class="rate__price"><strong>от 60 000</strong> <br>рублей в месяц</p>
          </div>
          <div class="rate__bottom">
            <a href="#" class="btn">Стать клиентом <i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="rate__item">
          <div class="rate__content">
            <h3 class="rate__title">Тариф «Instagram»</h3>
            <ul class="list">
              <li>Создание / редизайн аккаунта в Instagram</li>
              <li>Создание контента - от 2 постов в день</li>
              <li>Разработка уникального дизайна постов</li>
              <li>Привлечение целевой аудитории</li>
              <li>Организации съемок фото и видео контента6.Общение с подписчиками</li>
              <li>Аналитика, отчетность</li>
              <li>Персональный менеджер</li>
            </ul>
          </div>
          <div class="rate__price-wrap">
            <p class="rate__price"><strong>от 30 000</strong> <br>рублей в месяц</p>
          </div>
          <div class="rate__bottom">
            <a href="#" class="btn btn--trans">Стать клиентом <i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /.container -->

  <img src="img/meteor-2.svg" width="310" height="230" alt="" class="parallax meteor-8">
  <img src="img/meteor-2.svg" width="530" height="400" alt="" class="parallax meteor-9">
  <img src="img/meteor-2.svg" width="175" height="130" alt="" class="parallax meteor-10">

</section>
<!-- /.rate -->