<div class="te-ca-wrap">

  <section class="testimonial">
    <div class="container">
      <h2 class="section-title">ОТЗЫВЫ <br>о нашей компании</h2>

      <div class="testimonial-slider swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide testimonial-slider__item">
            <blockquote class="testimonial-slider__text">
              <p>«От лица компании «Якитория» хотим выразить благодарность всему коллективу «Ace Digital». Вы зарекомендовали себя как надежный деловой партнер, сотрудничество с которым приносит удовольствие и результаты! Особенно хочется отметить, что специалисты максимально быстро смогли увеличить охват и узнаваемость компании в социальных сетях с помощью эффективной рекламной кампании и качественного контента».</p>
            </blockquote>
            <a href="img/content/testimonial-1.jpg" data-fancybox class="testimonial-slider__img">
              <img src="img/content/testimonial-1.jpg" alt="">
            </a>
          </div>

          <div class="swiper-slide testimonial-slider__item">
            <blockquote class="testimonial-slider__text">
              <p>«От лица компании «Якитория» хотим выразить благодарность всему коллективу «Ace Digital». Вы зарекомендовали себя как надежный деловой партнер, сотрудничество с которым приносит удовольствие и результаты! Особенно хочется отметить, что специалисты максимально быстро смогли увеличить охват и узнаваемость компании в социальных сетях с помощью эффективной рекламной кампании и качественного контента».</p>
            </blockquote>
            <a href="img/content/testimonial-1.jpg" data-fancybox class="testimonial-slider__img">
              <img src="img/content/testimonial-1.jpg" alt="">
            </a>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
    <!-- /.container -->
  </section>
  <!-- /.testimonial -->

</div>